.section-posts {

    padding: 3% 4%;

    .posts {

        .post {

            border-radius: 6px;
            overflow: hidden;

            &#first {
                width: 800px;
                height: 380px;
                position: relative;
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../images/post1.jpg');
                background-size: cover;
                
                #content {

                    padding: 30px 20px;
                    position: relative;

                    .post-metadata {
                        position: relative;
                        top: 0;

                        .post-author {
                            width: 40px;
                            height: 40px;
                            border: 2px solid white;
                            border-radius: 50%;
                        }

                    }

                    .post-timestamp {
                        position: relative;
                        bottom: 0;
                    }

                }

            }
    
        }

    }

}