<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="../styles/slick.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../font-awesome-4.0.3/css/font-awesome.min.css">
    <title>CodeChronicles</title>
</head>
<body>
    <section class="section-header">
        <header class="header-sm">
            <div class="container">
                <div class="menu"><i class="fa fa-bars"></i></div>
                <img src="../images/CODE-CHRONICLES-NAME.png" alt="logo" class="sm-logo">
                <img src="../images/magnifying-glass.png" alt="search">
            </div>
        </header>
        <header class="header">
            <div class="logo">
                <div class="logo-container">
                    <img src="../images/CODE-CHRONICLES-NAME.png" alt="logo" class="logo-image">
                </div>
                <div class="right-pane">
                    <div class="switch"><div class="lever"></div></div>
                </div>
            </div>
            <nav class="navbar">
                <ul class="navbar-nav">
                    <li class="nav-item active"> <a href="#" class="nav-link">Home</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Categories</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Podcasts</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Authors</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link">Contact</a></li>
                    <li class="nav-item"> <a href="#" class="nav-link"><img src="../images/magnifying-glass.png" alt="search icon" class="search"></a></li>
                </ul>
            </nav>
        </header>
    </section>

    <section class="section-posts">
       <div class="posts">
        <div class="post">
            <div class="post-image" style="background-image: url('../images/post1.jpg'); background-size: cover;">
                <a class="post-author">
                    <div class="image">
                        <img src="../images/author1.jpg" alt="author 1">
                    </div>
                </a>
            </div>
            <div id="content">
                <span class="post-category">Motivation</span>
                <span class="post-title">Pray like it's your last salah.</span>
                <span class="post-timestamp">
                    8 months ago &FilledVerySmallSquare; 2 mins read.
                </span>
            </div>
        </div>
        <div class="post">
            <div class="post-image" style="background-image: url('../images/post2.jpg'); background-size: cover;">
                <a class="post-author">
                    <div class="image">
                        <img src="../images/author2.jpg" alt="author 1">
                    </div>
                </a>
            </div>
            <div id="content">
                <span class="post-category">Technology</span>
                <span class="post-title">Why the hell does <kbd>Ctrl + Y</kbd> delete a line in AS</span>
                <span class="post-timestamp">
                    8 months ago &FilledVerySmallSquare; 2 mins read.
                </span>
            </div>
        </div>
        <div class="post">
            <div class="post-image" style="background-image: url('../images/post3.jpg'); background-size: cover;">
                <a class="post-author">
                    <div class="image">
                        <img src="../images/author3.jpg" alt="author 1">
                    </div>
                </a>
            </div>
            <div id="content">
                <span class="post-category">Philosophy</span>
                <span class="post-title">God's not dead?</span>
                <span class="post-timestamp">
                    8 months ago &FilledVerySmallSquare; 2 mins read.
                </span>
            </div>
        </div>
        <div class="post">
            <div class="post-image" style="background-image: url('../images/post4.jpg'); background-size: cover;">
                <a class="post-author">
                    <div class="image">
                        <img src="../images/author4.jpg" alt="author 1">
                    </div>
                </a>
            </div>
            <div id="content">
                <span class="post-category">Love</span>
                <span class="post-title">Zaynabee💙</span>
                <span class="post-timestamp">
                    8 months ago &FilledVerySmallSquare; 2 mins read.
                </span>
            </div>
        </div>
        <div class="post">
            <div class="post-image" style="background-image: url('../images/post5.jpg'); background-size: cover;">
                <a class="post-author">
                    <div class="image">
                        <img src="../images/author5.jpg" alt="author 1">
                    </div>
                </a>
            </div>
            <div id="content">
                <span class="post-category">Religion</span>
                <span class="post-title">We all want to get better...</span>
                <span class="post-timestamp">
                    8 months ago &FilledVerySmallSquare; 2 mins read.
                </span>
            </div>
        </div>
        <div class="post">
            <div class="post-image" style="background-image: url('../images/post1.jpg'); background-size: cover;">
                <a class="post-author">
                    <div class="image">
                        <img src="../images/author1.jpg" alt="author 1">
                    </div>
                </a>
            </div>
            <div id="content">
                <span class="post-category">Motivation</span>
                <span class="post-title">Pray like it's your last salah.</span>
                <span class="post-timestamp">
                    8 months ago &FilledVerySmallSquare; 2 mins read.
                </span>
            </div>
        </div>
       </div>
       <div class="pager">
           <div class="content">
                <div class="page-action">
                    <img src="../images/arrow-right.png" alt="">
                </div>
               <span class="marker">Page 1 of 2</span>
               <div class="page-action">
                   <img src="../images/arrow-right.png" alt="">
               </div>
           </div>
       </div>
    </section>

    <footer>
        <div class="content">
            <div class="top">CodeChronicles &copy; 2020 - Privacy Policy</div>
            <div class="social">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
        </div>
    </footer>

    <!-- Modals -->
    <section id="modal">
        <div class="modal-content">
            <div class="close-container">
                <span class="close">&times;</span>
            </div>
            <ul class="nav-links">
                <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Categories</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Podcasts</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Authors</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
            </ul>
            <section class="articles">
                <h2 class="ptmono">Recent Articles.</h2>
                <div id="articles">
                    <div class="article">
                        <img src="../images/post11.jpg" alt="image">
                        <span class="title">Three things that give you energy 1</span>
                        <span class="date">10 months ago.</span>
                    </div>
                    <div class="article">
                        <img src="../images/post11.jpg" alt="image">
                        <span class="title">Three things that give you energy 2</span>
                        <span class="date">10 months ago.</span>
                    </div>
                    <div class="article">
                        <img src="../images/post11.jpg" alt="image">
                        <span class="title">Three things that give you energy 3</span>
                        <span class="date">10 months ago.</span>
                    </div>
                    <div class="article">
                        <img src="../images/post11.jpg" alt="image">
                        <span class="title">Three things that give you energy 4</span>
                        <span class="date">10 months ago.</span>
                    </div>
                    <div class="article">
                        <img src="../images/post11.jpg" alt="image">
                        <span class="title">Three things that give you energy 5</span>
                        <span class="date">10 months ago.</span>
                    </div>
                </div>
            </section>
        </div>
        
    </section>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script>
        $('#articles').slick({
            slidesToShow: 2,
            arrows: false,
            infinite: false,
            dots: false
        })
    </script>
</body>
</html>