<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Single Post - CodeChronicles</title>
</head>
<body>
    
    <section class="post">

        <section class="post-image">
            <img src="../images/post10.jpg" alt="post image" class="image">
        </section>

        <section class="post-grid">
            <div class="left-column"></div>
            <div class="post-content">
                <section class="post-metadata">
                    <h1>How  To Set Intentions That Energize You</h1>
                    <div class="post-others" class="ptmono">
                        <span class="cat">Motivation</span> &FilledVerySmallSquare; <span class="date">Apr 30, 2020</span>
                    </div>
                </section>
                <article class="article">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, repellendus!
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere magnam libero architecto aperiam ad! Cumque odit, temporibus praesentium sint molestias earum. Cumque, natus voluptas! Veniam, rerum quisquam deleniti nisi animi quam, ad cumque voluptates mollitia fuga, quidem harum sequi fugiat maiores reiciendis expedita facilis praesentium eos. Sapiente, dolor. Quasi nesciunt tempora facere dolore eos quo expedita harum odit ad! Nam rerum, animi accusamus quos omnis veniam quaerat fugiat sed repudiandae aliquid optio enim incidunt adipisci nostrum, laboriosam aut dolores nulla nisi repellendus libero? Fugiat quasi similique reprehenderit vero alias, corrupti culpa temporibus nesciunt assumenda vitae nihil consequuntur odio quo a.
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere magnam libero architecto aperiam ad! Cumque odit, temporibus praesentium sint molestias earum. Cumque, natus voluptas! Veniam, rerum quisquam deleniti nisi animi quam, ad cumque voluptates mollitia fuga, quidem harum sequi fugiat maiores reiciendis expedita facilis praesentium eos. Sapiente, dolor. Quasi nesciunt tempora facere dolore eos quo expedita harum odit ad! Nam rerum, animi accusamus quos omnis veniam quaerat fugiat sed repudiandae aliquid optio enim incidunt adipisci nostrum, laboriosam aut dolores nulla nisi repellendus libero? Fugiat quasi similique reprehenderit vero alias, corrupti culpa temporibus nesciunt assumenda vitae nihil consequuntur odio quo a.
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere magnam libero architecto aperiam ad! Cumque odit, temporibus praesentium sint molestias earum. Cumque, natus voluptas! Veniam, rerum quisquam deleniti nisi animi quam, ad cumque voluptates mollitia fuga, quidem harum sequi fugiat maiores reiciendis expedita facilis praesentium eos. Sapiente, dolor. Quasi nesciunt tempora facere dolore eos quo expedita harum odit ad! Nam rerum, animi accusamus quos omnis veniam quaerat fugiat sed repudiandae aliquid optio enim incidunt adipisci nostrum, laboriosam aut dolores nulla nisi repellendus libero? Fugiat quasi similique reprehenderit vero alias, corrupti culpa temporibus nesciunt assumenda vitae nihil consequuntur odio quo a.
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere magnam libero architecto aperiam ad! Cumque odit, temporibus praesentium sint molestias earum. Cumque, natus voluptas! Veniam, rerum quisquam deleniti nisi animi quam, ad cumque voluptates mollitia fuga, quidem harum sequi fugiat maiores reiciendis expedita facilis praesentium eos. Sapiente, dolor. Quasi nesciunt tempora facere dolore eos quo expedita harum odit ad! Nam rerum, animi accusamus quos omnis veniam quaerat fugiat sed repudiandae aliquid optio enim incidunt adipisci nostrum, laboriosam aut dolores nulla nisi repellendus libero? Fugiat quasi similique reprehenderit vero alias, corrupti culpa temporibus nesciunt assumenda vitae nihil consequuntur odio quo a.
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere magnam libero architecto aperiam ad! Cumque odit, temporibus praesentium sint molestias earum. Cumque, natus voluptas! Veniam, rerum quisquam deleniti nisi animi quam, ad cumque voluptates mollitia fuga, quidem harum sequi fugiat maiores reiciendis expedita facilis praesentium eos. Sapiente, dolor. Quasi nesciunt tempora facere dolore eos quo expedita harum odit ad! Nam rerum, animi accusamus quos omnis veniam quaerat fugiat sed repudiandae aliquid optio enim incidunt adipisci nostrum, laboriosam aut dolores nulla nisi repellendus libero? Fugiat quasi similique reprehenderit vero alias, corrupti culpa temporibus nesciunt assumenda vitae nihil consequuntur odio quo a.
                    </p>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere magnam libero architecto aperiam ad! Cumque odit, temporibus praesentium sint molestias earum. Cumque, natus voluptas! Veniam, rerum quisquam deleniti nisi animi quam, ad cumque voluptates mollitia fuga, quidem harum sequi fugiat maiores reiciendis expedita facilis praesentium eos. Sapiente, dolor. Quasi nesciunt tempora facere dolore eos quo expedita harum odit ad! Nam rerum, animi accusamus quos omnis veniam quaerat fugiat sed repudiandae aliquid optio enim incidunt adipisci nostrum, laboriosam aut dolores nulla nisi repellendus libero? Fugiat quasi similique reprehenderit vero alias, corrupti culpa temporibus nesciunt assumenda vitae nihil consequuntur odio quo a.
                    </p>
                </article>
            </div>
            <div class="right-column">
                <div class="content">
                    <div class="link post-track">
                        <img src="../images/up-arrow.png" alt="back to top">
                    </div>
                    <div class="link">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="link">
                        <i class="fa fa-facebook"></i>
                    </div>
                </div>
            </div>
        </section>
    
        

    </section>

    <section class="newsletter">
        <div class="info">
            <h2>Subscribe to our newsletter</h2>
            <span>Get the latest posts delivered right to your inbox.</span>
        </div>
        <div class="call-to-action">
            <input type="text" placeholder="Your email address">
            <button>Subscribe</button>
        </div>
    </section>

    <section class="author-metadata">
        <div class="image">
            <img src="../images/author7.jpg" alt="author">
        </div>
        <div class="info">
            <span class="name">Eduardo Gomez</span>
            <span class="bio">I do web stuff in the afternoon and turn to a werewolf at night.</span>
            <div class="links">
                <a href="#"><i class="fa fa-globe"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </div>
        </div>
    </section>

    <section class="recommended">
        <div class="header">
            <section class="image"><img src="../images/recommended.svg" alt="recommended"></section>
        </div>
        <h1>Recommended For You</h1>
        <div class="no-posts">
            <h3>No Posts</h3>
            <span>Oops!, there are no posts available for you now.</span>
        </div>
    </section>

    <section id="post-loading-modal" style="display: block;">
        <div class="modal-content">
            <div class="loader">
                <div id="loader"></div>
            </div>
        </div>
    </section>
    
    <script>
        (function() {
            setTimeout(() => {
                document.querySelector('#post-loading-modal').style.display = 'none';
            }, 0);
        })();
    </script>
</body>
</html>