/* Font Faces */
@font-face {
  src: url("../fonts/PT_Mono/PTMono-Regular.ttf");
  font-family: PTMono; }

@font-face {
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-family: Raleway; }

@font-face {
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-family: MontserratBold; }

@font-face {
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-family: Montserrat; }

/* Font Classes */
.ptmono {
  font-family: 'PTMono', cursive; }

.montserrat-bold {
  font-family: 'MontserratBold', cursive; }

.montserrat {
  font-family: 'Montserrat', cursive; }

.raleway {
  font-family: 'Raleway', cursive; }

* {
  padding: 0;
  margin: 0; }
  *::after, *::before {
    margin: 0;
    padding: 0; }

body {
  overflow-x: hidden;
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'MontserratBold'; }

.section-header header {
  background-color: #fffdd0; }
  .section-header header .logo {
    width: 100%;
    height: 120px; }
    .section-header header .logo .logo-container {
      height: 100%;
      text-align: center; }
      .section-header header .logo .logo-container .logo-image {
        height: 100%; }
    .section-header header .logo .right-pane {
      position: absolute;
      background-color: #BA9E79;
      height: 50px;
      width: 50px;
      right: 2%;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section-header header .logo .right-pane .switch {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        .section-header header .logo .right-pane .switch .lever {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: white; }
  .section-header header .search {
    height: 20px; }
  .section-header header nav .navbar-nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px 0; }
    .section-header header nav .navbar-nav .nav-item {
      color: #000;
      font-family: 'Raleway';
      font-weight: 600;
      font-size: 1rem;
      transition: all .2s; }
      .section-header header nav .navbar-nav .nav-item.active {
        color: #7E542E;
        font-size: 1.2rem;
        font-weight: 700; }
      .section-header header nav .navbar-nav .nav-item:hover {
        color: #7E542E; }
      .section-header header nav .navbar-nav .nav-item .nav-link {
        text-decoration: none;
        color: inherit; }

.section-posts {
  padding: 3% 4%; }
  .section-posts .posts .post {
    border-radius: 6px;
    overflow: hidden; }
    .section-posts .posts .post#first {
      width: 800px;
      height: 380px;
      position: relative;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/post1.jpg");
      background-size: cover; }
      .section-posts .posts .post#first #content {
        padding: 30px 20px;
        position: relative; }
        .section-posts .posts .post#first #content .post-metadata {
          position: relative;
          top: 0; }
          .section-posts .posts .post#first #content .post-metadata .post-author {
            width: 40px;
            height: 40px;
            border: 2px solid white;
            border-radius: 50%; }
        .section-posts .posts .post#first #content .post-timestamp {
          position: relative;
          bottom: 0; }
