/* Font Faces */
@font-face {
  src: url("../fonts/PT_Mono/PTMono-Regular.ttf");
  font-family: PTMono; }

@font-face {
  src: url("../fonts/Raleway/Raleway-Regular.ttf");
  font-family: Raleway; }

@font-face {
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-family: MontserratBold; }

@font-face {
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-family: Montserrat; }

/* Font Classes */
.ptmono {
  font-family: 'PTMono', cursive; }

.montserrat-bold {
  font-family: 'MontserratBold', cursive; }

.montserrat {
  font-family: 'Montserrat', cursive; }

.raleway {
  font-family: 'Raleway', cursive; }

* {
  padding: 0;
  margin: 0; }
  *::after, *::before {
    margin: 0;
    padding: 0; }

body {
  overflow-x: hidden;
  font-size: 62.5%; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'MontserratBold'; }

.section-header header {
  background-color: #fffdd0; }
  @media (min-width: 600px) {
    .section-header header.header {
      display: block; } }
  @media (max-width: 600px) {
    .section-header header.header {
      display: none; } }
  .section-header header.header-sm {
    width: 100%;
    z-index: 900; }
    @media (min-width: 600px) {
      .section-header header.header-sm {
        display: none; } }
    @media (max-width: 600px) {
      .section-header header.header-sm {
        display: block; } }
    .section-header header.header-sm .container {
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      width: 90vw; }
      .section-header header.header-sm .container .menu:hover {
        cursor: pointer; }
      .section-header header.header-sm .container .sm-logo {
        height: 70px; }
      .section-header header.header-sm .container .menu, .section-header header.header-sm .container img[alt="search"] {
        margin: auto 0; }
        .section-header header.header-sm .container .menu i, .section-header header.header-sm .container img[alt="search"] i {
          font-size: 1.3rem;
          color: black; }
      .section-header header.header-sm .container img[alt="search"] {
        height: 20px; }
  .section-header header .logo {
    width: 100%;
    height: 120px; }
    .section-header header .logo .logo-container {
      height: 100%;
      text-align: center; }
      .section-header header .logo .logo-container .logo-image {
        height: 100%; }
    .section-header header .logo .right-pane {
      position: fixed;
      background-color: #BA9E79;
      height: 50px;
      width: 50px;
      right: 2%;
      top: 0;
      display: flex;
      z-index: 998;
      justify-content: center;
      align-items: center; }
      .section-header header .logo .right-pane .switch {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center; }
        .section-header header .logo .right-pane .switch .lever {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: white; }
  .section-header header .search {
    height: 20px; }
  .section-header header nav .navbar-nav {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 10px 0; }
    .section-header header nav .navbar-nav .nav-item {
      color: #000;
      font-family: 'Raleway';
      font-weight: 600;
      font-size: 1rem;
      transition: all .2s; }
      .section-header header nav .navbar-nav .nav-item.active {
        color: #7E542E;
        font-size: 1.2rem;
        font-weight: 700; }
      .section-header header nav .navbar-nav .nav-item:hover {
        color: #7E542E; }
      .section-header header nav .navbar-nav .nav-item .nav-link {
        text-decoration: none;
        color: inherit; }

.section-posts {
  padding: 3% 4%; }
  .section-posts .pager {
    text-align: center;
    margin: 3.5rem 0; }
    .section-posts .pager .content {
      display: flex;
      justify-content: center; }
      .section-posts .pager .content .marker {
        font-family: 'Raleway';
        font-size: 1.1rem;
        color: black;
        font-weight: 700;
        margin: auto 10px; }
      .section-posts .pager .content .page-action {
        background-color: #fff;
        box-shadow: 0.1rem 0.1rem 0.1rem #e6e6e6;
        border-radius: 50%;
        padding: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        backface-visibility: hidden;
        transition: all .3s; }
        .section-posts .pager .content .page-action:hover {
          box-shadow: 0.1rem 0.1rem 0.5rem #e6e6e6; }
        .section-posts .pager .content .page-action img {
          height: 20px;
          width: 20px; }
  .section-posts .posts {
    display: grid;
    grid-template: 1fr/repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 1.3rem 0; }
    .section-posts .posts .post {
      border-radius: 6px;
      border: 1px solid #f2f2f2;
      box-shadow: 0 1rem 1.2rem #e6e6e6;
      transition: all .3s; }
      .section-posts .posts .post kbd {
        color: black;
        background-color: #f2f2f2;
        padding: .2rem .4rem;
        border-radius: 5px; }
      .section-posts .posts .post:hover {
        transform: translateY(-5px);
        box-shadow: 1.2rem 2rem 2.2rem #d9d9d9;
        cursor: pointer; }
      .section-posts .posts .post .post-image {
        height: 200px;
        padding: 20px;
        border-radius: 6px 6px 0 0; }
        .section-posts .posts .post .post-image .post-author {
          background-color: #fff;
          width: 40px;
          height: 40px; }
          .section-posts .posts .post .post-image .post-author .image {
            width: 35px;
            height: 35px;
            border: 3px solid white;
            border-radius: 50%; }
            .section-posts .posts .post .post-image .post-author .image img {
              height: 100%;
              width: 100%;
              border-radius: 50%; }
      .section-posts .posts .post #content {
        display: flex;
        flex-direction: column;
        padding: 1.9rem 1rem;
        height: 100px;
        position: relative; }
        .section-posts .posts .post #content > * {
          margin: 3.5px 0; }
        .section-posts .posts .post #content .post-category {
          font-family: 'PTMono';
          font-weight: 600;
          font-size: .9rem;
          color: #606060; }
        .section-posts .posts .post #content .post-title {
          font-family: 'Montserrat';
          color: black;
          font-weight: 700;
          font-size: 1.1rem; }
        .section-posts .posts .post #content .post-timestamp {
          font-size: .65rem;
          font-family: 'Montserrat';
          margin-top: auto;
          font-weight: 550;
          position: absolute;
          bottom: 10px; }

footer {
  height: 300px;
  color: white;
  background-color: #BA9E79; }
  footer .content {
    margin: 0 auto;
    width: 60vw;
    text-align: center;
    font-family: 'raleway';
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%; }
    footer .content .top {
      margin: 20px 0;
      font-size: .9rem; }
    footer .content .social {
      display: flex;
      justify-content: center; }
      footer .content .social a {
        text-decoration: none;
        outline: none;
        border: none;
        font-size: 1.4rem;
        margin: 0 15px; }
        footer .content .social a:active, footer .content .social a:visited, footer .content .social a:focus {
          outline: none; }
        footer .content .social a:nth-child(1) {
          color: lightblue; }
        footer .content .social a:nth-child(2) {
          color: black; }
        footer .content .social a:nth-child(3) {
          color: blue; }

@media (max-width: 500px) {
  footer .content {
    width: 70vw; } }

section.modal {
  display: none;
  position: fixed;
  animation: fadeIn 1s;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(255, 253, 208, 0.9);
  z-index: 999; }
  section.modal .search-form {
    width: 45vw;
    margin: 0 auto;
    margin-top: 5%; }
    section.modal .search-form input {
      width: 100%;
      color: black;
      font-family: 'Raleway';
      font-size: .9rem;
      font-style: oblique;
      text-indent: 25px;
      padding: 13px 0;
      outline: none;
      border: none;
      border: 1px solid #BA9E79;
      background-color: transparent;
      border-radius: 4px;
      transition: all .5s; }
      section.modal .search-form input:not(:placeholder-shown) {
        color: black;
        font-style: normal; }
    @media (max-width: 800px) {
      section.modal .search-form {
        width: 50vw;
        margin-top: 5%; }
        section.modal .search-form input {
          text-indent: 10px;
          font-size: .8rem; } }
    @media (max-width: 500px) {
      section.modal .search-form {
        width: 60vw;
        margin-top: 10%; }
        section.modal .search-form input {
          text-indent: 10px;
          font-size: .8rem; } }
    @media (max-width: 400px) {
      section.modal .search-form {
        width: 70vw;
        margin-top: 15%; }
        section.modal .search-form input {
          text-indent: 10px;
          font-size: .8rem; } }
    section.modal .search-form .button-container {
      width: 100%;
      display: flex;
      margin: 10px 0; }
      section.modal .search-form .button-container button {
        margin-left: auto;
        color: white;
        font-size: .8rem;
        padding: 7px 30px;
        font-family: 'Raleway';
        background-color: #c08652;
        outline: none;
        border: none;
        border-radius: 3px;
        transition: background-color .4s; }
        section.modal .search-form .button-container button:hover {
          background-color: #7E542E;
          cursor: pointer; }
  section.modal .modal-footer {
    display: flex;
    align-items: center;
    margin-top: 30px; }
    section.modal .modal-footer .copyright {
      color: black;
      font-size: 1rem;
      font-weight: 700;
      font-family: 'Raleway'; }
    section.modal .modal-footer .switch {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: black;
      margin-left: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      section.modal .modal-footer .switch .lever {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: white; }
  section.modal .modal-content {
    width: 85vw;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column; }
    section.modal .modal-content .articles {
      margin-top: 40px; }
      section.modal .modal-content .articles h2 {
        font-size: 1rem; }
      section.modal .modal-content .articles #articles {
        width: 100%;
        padding: 20px 0px; }
        section.modal .modal-content .articles #articles .article {
          margin: 0 10px; }
          section.modal .modal-content .articles #articles .article:active, section.modal .modal-content .articles #articles .article:focus {
            outline: none; }
          section.modal .modal-content .articles #articles .article img {
            width: 100%;
            border-radius: 4px;
            overflow: hidden;
            height: 100px; }
          section.modal .modal-content .articles #articles .article:hover {
            cursor: pointer; }
          section.modal .modal-content .articles #articles .article span {
            display: block;
            color: black; }
          section.modal .modal-content .articles #articles .article .title {
            color: black;
            font-family: 'PTMono';
            font-weight: 700;
            font-size: 1rem;
            padding: 10px 0; }
          section.modal .modal-content .articles #articles .article .date {
            font-family: 'PTMono';
            margin-top: 30px;
            font-size: .7rem; }
    section.modal .modal-content .nav-links {
      list-style-type: none;
      margin: 20px 0; }
      section.modal .modal-content .nav-links .nav-item {
        font-size: 1.2rem;
        font-family: 'Raleway';
        padding: 1.5px 0; }
        section.modal .modal-content .nav-links .nav-item.active .nav-link {
          color: #7E542E;
          font-weight: 700; }
        section.modal .modal-content .nav-links .nav-item .nav-link {
          color: #000;
          text-decoration: none; }
          section.modal .modal-content .nav-links .nav-item .nav-link:hover {
            color: #7E542E; }
    section.modal .modal-content .close-container {
      display: flex;
      justify-content: flex-end; }
      section.modal .modal-content .close-container .close {
        padding: 0px 10px;
        width: auto;
        font-size: 2rem;
        color: black;
        border: 1px solid black;
        text-align: center;
        border-radius: 50%; }
        section.modal .modal-content .close-container .close:hover {
          cursor: pointer; }

@keyframes fadeIn {
  0% {
    opacity: .1; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

section.post .post-image {
  height: 85vh;
  width: 100vw; }
  section.post .post-image img {
    width: 100%;
    height: 100%; }

section.post .post-grid {
  display: grid;
  grid-template-columns: 15% 70% 15%; }
  section.post .post-grid .right-column .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%; }
    section.post .post-grid .right-column .content .link {
      width: 50px;
      background-color: #fff;
      box-shadow: .2rem .2rem .4rem #ccc;
      padding: 15px 1.75px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin: 5px 0; }
      section.post .post-grid .right-column .content .link.post-track {
        border: 1.5px solid #7E542E; }
      section.post .post-grid .right-column .content .link:hover {
        cursor: pointer; }
      section.post .post-grid .right-column .content .link img {
        height: 20px; }
      section.post .post-grid .right-column .content .link i {
        font-size: 1.2rem; }
  section.post .post-grid .post-content article {
    margin: 30px 0; }
    section.post .post-grid .post-content article p {
      font-family: 'Raleway';
      color: gray;
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1.5;
      margin: 20px 0; }
  section.post .post-grid .post-content .post-metadata {
    text-align: center;
    padding: 20px 0; }
    section.post .post-grid .post-content .post-metadata h1 {
      color: black;
      font-family: 'MontserratBold';
      font-size: 2.1rem;
      margin: 10px 0; }
    section.post .post-grid .post-content .post-metadata .post-others {
      font-family: 'PTMono';
      color: #4d4d4d;
      font-size: .7rem;
      font-weight: 700; }

section.newsletter {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 3.5rem 15%;
  background-color: #c3aa8a;
  margin: 20px 0; }
  section.newsletter .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    section.newsletter .info h2 {
      color: black;
      font-family: 'MontserratBold', sans-serif;
      font-size: 1.1rem; }
    section.newsletter .info span {
      font-family: 'Raleway';
      font-size: .9rem;
      color: black;
      font-weight: 700;
      padding: 20px 0; }
  section.newsletter .call-to-action {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    justify-content: center; }
    section.newsletter .call-to-action input {
      outline: none;
      border: none;
      border: 1px solid black;
      padding: 10px;
      font-family: 'MontserratBold';
      border-radius: 4px; }
    section.newsletter .call-to-action button {
      color: white;
      padding: 10px;
      margin: 10px 0;
      background-color: #98784e;
      font-family: 'Raleway';
      font-weight: 700;
      outline: none;
      border: none;
      border-radius: 4px; }
      section.newsletter .call-to-action button:hover {
        cursor: pointer; }

section.author-metadata {
  padding: 2rem 10%;
  display: grid;
  grid-template-columns: 30% 70%; }
  section.author-metadata .image {
    text-align: center; }
    section.author-metadata .image img {
      height: 150px;
      border-radius: 50%;
      width: 150px; }
  section.author-metadata .info {
    display: flex;
    flex-direction: column; }
    section.author-metadata .info > * {
      margin: 10px 0; }
    section.author-metadata .info .name {
      color: black;
      font-family: 'Raleway';
      font-weight: 700;
      font-size: 1.3rem; }
    section.author-metadata .info .bio {
      color: black;
      font-family: 'Raleway';
      font-size: 1rem; }
    section.author-metadata .info .links a {
      font-size: .9rem;
      color: black;
      margin: 0 10px; }

section#post-loading-modal {
  position: fixed;
  animation: fadeIn 1s;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(255, 253, 208, 0.9);
  z-index: 999; }
  section#post-loading-modal .modal-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    section#post-loading-modal .modal-content .loader {
      position: relative; }

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
      section#post-loading-modal .modal-content .loader #loader {
        height: 50px;
        width: 50px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -25px 0 0 -25px;
        border: 4px rgba(186, 158, 121, 0.25) solid;
        border-top: 4px #7E542E solid;
        border-radius: 50%;
        -webkit-animation: spin2 1s infinite linear;
        animation: spin2 1s infinite linear; }
